@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  width: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #138AF2;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header {
  background-color: #022859;
  width: 100vw;
  z-index: 10;
  position: fixed;
  box-shadow: 0 0 15px #022859;
}

.header-top {
  width: 100vw;
  padding: 18px 8px 8px 8px;
  gap: 16px;
}
.header-top .header-top_titulo {
  gap: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header-top .header-top_titulo img {
  height: 60px;
  border-radius: 5px;
}
.header-top .header-top_titulo h1 {
  color: #138AF2;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 32px;
}
.header-top .header-top_buscador input {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  width: 80%;
  padding: 6px;
  border: none;
  border-radius: 5px;
  color: #022859;
  background-color: #B6C5F2;
}
.header-top .header-top_buscador input:focus {
  outline: none;
  border: none;
}

.nav {
  list-style: none;
}
.nav li {
  padding: 10px;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  border-radius: 10px 10px 0 0;
  transition: 0.3s;
}
.nav li a {
  color: #138AF2;
  text-decoration: none;
  font-size: 20px;
  transition: 0.3s;
}
.nav li:hover a {
  color: #FF8000;
}

.cantidad-carrito {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: red;
  color: #FFFFFF;
  font-size: 13px;
  text-align: center;
  transform: translate(-5px, -3px);
}

.main {
  background-color: #B6C5F2;
  padding-top: 30px;
  width: 100vw;
}

#catalogo {
  flex-wrap: wrap;
  min-height: 100vh;
  width: 85%;
  align-items: flex-start;
  margin-top: 187px;
}

.catalogo-cards {
  justify-content: space-between;
  height: 420px;
  width: 260px;
  margin: 5px;
  padding: 15px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  border: 2px solid #022859;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 0 5px #03258C;
}
.catalogo-cards img {
  height: 120px;
  width: 120px;
  -o-object-fit: contain;
     object-fit: contain;
}
.catalogo-cards h2 {
  font-size: 1.1rem;
}
.catalogo-cards .catalogo-cards_descripcion {
  height: 70px;
  font-size: 0.8rem;
}
.catalogo-cards .catalogo-cards_buttons {
  bottom: 0;
  gap: 6px;
  width: 100%;
}
.catalogo-cards .catalogo-cards_buttons button {
  color: #022859;
  font-family: "Poppins", sans-serif;
  background-color: #B6C5F2;
  padding: 3px;
  font-size: 15px;
  padding: 6px;
  border: 1px solid #022859;
  border-radius: 5px;
  transition: 0.3s;
}
.catalogo-cards .catalogo-cards_buttons button:hover {
  color: #FF8000;
  background-color: #03258C;
}

.paginas {
  margin: 20px;
}
.paginas .paginas-botones {
  height: 50px;
  width: 50px;
  padding: 5px;
  margin: 0;
  border: solid 0.5px #022859;
}

.paginas > :first-child {
  border-radius: 10px 0px 0px 10px;
  border-right: none;
}

.paginas > :last-child {
  border-radius: 0px 10px 10px 0px;
  border-left: none;
}

#carrito {
  position: fixed;
  height: calc(100vh - 136px);
  width: 50%;
  margin-top: 136px;
  background-color: rgba(3, 37, 140, 0.8235294118);
  box-shadow: 0 0 5px #03258C;
  z-index: 1000;
  transition: 0.5s ease;
  justify-content: space-between;
  color: #022859;
}
#carrito h2 {
  padding: 6px;
  color: #FFFFFF;
}

.offset-active {
  right: 0;
}

.carrito-top {
  width: 100%;
}
.carrito-top h2 {
  text-align: center;
}

.carrito-productos {
  gap: 6px;
  width: 100%;
}

.offset-cards {
  background-color: #FFFFFF;
  width: 95%;
  height: 50px;
  border: 2px solid #138AF2;
  border-radius: 5px;
  justify-content: space-between;
  text-align: start;
}
.offset-cards img {
  height: 40px;
  width: 10%;
  max-width: 60px;
  background-blend-mode: screen;
}
.offset-cards h4 {
  color: #022859 !important;
  font-size: 20px;
  margin-bottom: 0;
  width: 150px;
  width: 40%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.offset-cards p {
  margin-bottom: 0;
  margin-left: 5px;
  font-size: 16px;
  width: 15%;
}
.offset-cards div {
  width: 20%;
  gap: 8px;
}
.offset-cards div button {
  padding: 0px;
  height: 30px;
  width: 20px;
  font-size: 16px;
  background: none;
  border: 2px solid #138AF2;
  border-radius: 5px;
  transition: 0.3s;
}
.offset-cards div button:hover {
  background-color: #B6C5F2;
}

.carrito-bottom {
  margin-top: 6px;
  margin-bottom: 6px;
  width: 95%;
  justify-content: space-between;
  align-items: flex-end;
  color: #FFFFFF;
}

.carrito-bottom_datos p {
  width: 100%;
  margin-bottom: 0;
  text-align: start;
}

.carrito-bottom_botones {
  justify-content: flex-end;
  padding: 0;
}
.carrito-bottom_botones button {
  margin: 6px;
  padding: 6px;
  color: #022859;
  background: #B6C5F2;
  border: 2px solid #138AF2;
  border-radius: 5px;
  transition: 0.3s;
}
.carrito-bottom_botones button:hover {
  background-color: #03258C;
  color: #FF8000;
}

#footer {
  width: 100vw;
  height: 136px;
  background-color: #022859;
}
#footer p {
  color: #FFFFFF;
  margin: 0;
}

.row {
  height: 100%;
}

.footer-left {
  padding-top: 10px;
  gap: 1px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.footer-left p {
  font-family: "Raleway", sans-serif;
  width: 100%;
  text-align: start;
}

.footer-right a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #FFFFFF;
  transition: 0.3s;
}
.footer-right a:hover {
  color: #FF8000;
}

@media screen and (max-width: 1200px) {
  #catalogo {
    margin-top: 270px;
    width: 90%;
  }
  #carrito {
    margin-top: 188px;
    width: 100%;
    height: calc(100vh - 188px);
  }
}
@media screen and (max-width: 460px) {
  .header-top .header-top_titulo h1 {
    font-size: 22px !important;
  }
  #catalogo {
    margin-top: 180px;
  }
  #carrito {
    margin-top: 179px;
    width: 100%;
    height: calc(100vh - 179px);
  }
  .carrito-bottom_datos {
    justify-content: center;
  }
  .carrito-bottom_datos p {
    text-align: center;
  }
  .carrito-bottom_botones {
    justify-content: center;
  }
  #buscador-input_buscar {
    padding: 6px;
    font-size: 14px;
  }
  #buscador-input_buscar::-moz-placeholder {
    font-size: 14px;
  }
  #buscador-input_buscar::placeholder {
    font-size: 14px;
  }
  .nav {
    list-style: none;
  }
  .nav li {
    padding: 10px;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    border-radius: 10px 10px 0 0;
    transition: 0.3s;
  }
  .nav li a {
    color: #138AF2;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
  }
  .catalogo-cards {
    height: 330px;
    width: 250px;
    padding: 6px;
  }
  .catalogo-cards img {
    height: 60px;
    width: 60px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .catalogo-cards h2 {
    font-size: 1.2rem;
  }
  .catalogo-cards p {
    font-size: 14px;
  }
  .catalogo-cards .catalogo-cards_descripcion {
    height: 70px;
  }
  .catalogo-cards .catalogo-cards_buttons {
    bottom: 0;
    gap: 6px;
    width: 100%;
  }
  .catalogo-cards .catalogo-cards_buttons button {
    color: #022859;
    font-family: "Poppins", sans-serif;
    background-color: #B6C5F2;
    padding: 3px;
    font-size: 14px;
    padding: 4px;
    border: 1px solid #022859;
    border-radius: 5px;
  }
  .offset-cards img {
    display: none;
  }
  .offset-cards h4 {
    font-size: 14px;
    margin-left: 2px;
  }
  .offset-cards p {
    font-size: 12px;
  }
  .offset-cards div {
    width: 20%;
    gap: 8px;
    margin-right: 4px;
  }
  .offset-cards div button {
    height: 26px;
    font-size: 14px;
  }
  .offset-cards div button:hover {
    background-color: #B6C5F2;
  }
  .cantidad-carrito {
    height: 15px;
    width: 15px;
    font-size: 8px;
  }
}/*# sourceMappingURL=style.css.map */