// Colores

$colorPrimario: #03258C;
$colorSecundario: #B6C5F2;
$colorTerciario: #044BD9;
$colorOscuro: #022859;
$colorFuerte: #138AF2;

$colorBlanco: #FFFFFF;
$colorNegro: #000000;
$colorGris: #555555;



// Fuentes

$fuentePrimario: 'Poppins', sans-serif;
$fuenteSecundaria: 'Raleway', sans-serif;